* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: azure;

}
img.lado {
    float: right
}
main {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
    width: 450px;
=======
=======
>>>>>>> parent of 949b059 (atualização palheta de cor do site)
=======
>>>>>>> parent of 949b059 (atualização palheta de cor do site)
    background-color: aquamarine;
    width: 500px;
>>>>>>> parent of 949b059 (atualização palheta de cor do site)
    margin: auto;
    padding: 30px;
    box-shadow: 3px 3px 6px black;

}